
<form class= "form" >
  <mat-form-field class="">
    <input type="text" placeholder="Selecciona una opción" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <br/>
  <mat-checkbox [(ngModel)]="checked" name = "checkbox">Registrado!</mat-checkbox>  
  <br/>
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Fecha" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput placeholder="Input"  [(ngModel)] = "text" name = "text">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <textarea matInput placeholder="FormField" [(ngModel)] = "text" name = "text"></textarea>
  </mat-form-field>
  <br/>
  <mat-radio-group aria-label="Select an option" [(ngModel)]="favoriteSeason" name = "favoriteSeason">
    <mat-radio-button value="1">Option 1</mat-radio-button> <br/>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>
  <br/>
  <mat-form-field>
    <mat-label>Cars</mat-label>
    <select matNativeControl [(ngModel)] = "selectedOption" name = "selectedOption">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </mat-form-field>
  <br/>
  <mat-slider [(ngModel)] = 'value' name = 'value'></mat-slider>
  <br/>
  <mat-slide-toggle
  class="example-margin"
  [checked]="checked2"
  >
  Deslizaa!
</mat-slide-toggle>
</form>
